<% provide(:title, "Register") %>
<div class="row">
	<div class="span6 offset3">
		<h3 align="center">User Registration</h3>
		<%= render("layouts/error_messages") %>
		<%= form_for @user, url: register_path, html: {id: "user_register_form", align: "center", class: "form-horizontal"} do |u| %>
		<div class="control-group">
			<%= u.label :email, class: "control-label" %>
			<div class="controls"><%= u.text_field :email, placeholder: "username@example.com" %></div>
		</div>
		<div class="control-group">
			<%= u.label :password, class: "control-label" %>
			<div class="controls"><%= u.password_field :password %></div>
		</div>
		<div class="control-group">
			<%= u.label :password_confirmation, "Retype Password", class: "control-label" %>
			<div class="controls"><%= u.password_field :password_confirmation %></div>
		</div>
			<div class="controls"><%= u.submit "Register", class: "btn btn-primary" %> <%= button_tag 'Reset', type: 'reset', class: "btn" %><input type="hidden" name="flag" value="register"></div>
		<% end %>
	</div>
</div>